# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#old files
*~
*.old

#specific annoynaces
./firmware/DevBoard/darknet-7/.settings/language.settings.xml
./DevBoard/darknet-7/darknet-7\ Debug.cfg
